@mixin font-face($font-family, $font-weight: 400, $font-type: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-type;
    src: font-face($font-family, $font-weight, $font-type);
    font-display: swap;
  }
}